:root{
        --background-color: #2e2e2e;
        --border-button: #444; 
        --selected-button-color: #3e3eff;
}
.radioButtons{
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;         
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

.x-button {
    box-sizing: border-box;
    min-width: 35px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--background-color);
    border: 2px solid var(--border-button);
    border-radius: 5px;
    font-size: 1.2em;
    height: 40px;
    cursor: pointer;
    transition: border-color 0.3s;
}
.x-button:hover {
    border-color: #646cff;
    transform: scale(1.08);
    transition-duration: 0.35s;
}

.x-button.selected {
    border-color: #646cff;
    background-color: var(--selected-button-color);
    transform: scale(0.92);
    transition-duration: 0.35s;

}
.radio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.radioButtons li {
    list-style: none;
    display: block;
    justify-content: center;
    align-items: center;
}


@media(prefers-color-scheme: light){
    :root{
        --background-color: #f1f8ff;
        --border-button: #444; 
        --selected-button-color: #8db7ff;
    }
}