.graph-pane {
    background-color: var(--graph-background);
    border: 1px solid var(--axis-color);
    border-radius: 8px;
    cursor: pointer;
}
@media (max-width: 1232px) and (min-width: 648px) {
    .graph-pane {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 647px) {
    .graph-pane {
        width: 200px;
        height: 200px;
    }
}
