.authForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 20px;
}